{% block body_footer %}
      {# Footer #}
            <footer class="footer">
                <div class="container">
                    <div class="copyright">&copy;
                        <script>document.write(new Date().getFullYear())</script>, Submitted by
                        <a href="#" target="_blank">LATEST GROUP</a>. Required project for  
                        <a href="#" target="_blank">BSIT ELECTIVE 3</a>.
                    </div>
                </div>
            </footer>    
        </div>
{% endblock %}