{% extends 'base.html.twig' %}
{% block body%}

<body class="login-page">
{# Header #}

{# Body #}
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url({{asset('assets/now-ui-kit-v1.1.0/assets/img/login.jpg')}})"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form class="form" method="" action="">
                        <div class="header header-primary text-center">
                            <div class="logo-container">
                                <img src="{{asset('assets/now-ui-kit-v1.1.0/assets/img/blog.png')}}" alt="">
                            </div>
                        </div>
                        <div class="content">
                            {# username #}
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                {{form_widget(form.Email)}}
                            </div>
                            {# password #}
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                {{form_widget(form.Password)}}
                            </div>
                        </div>
                        <div class="footer text-center">
                            {{form_widget(form.Login)}}
                        </div>
                        <div class="pull-right">
                            <a href="/lucky/signup" class="link"><i class="fa fa-caret-right"></i> SIGN UP</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{# Footer #}
            <footer class="footer">
                <div class="container">
                    <div class="copyright">&copy;
                        <script>document.write(new Date().getFullYear())</script>, Designed by
                        <a href="#" target="_blank">After Laughter</a>. Coded by 
                        <a href="#" target="_blank">After Laughter</a>.
                    </div>
                </div>
            </footer>    
        </div>
    </div>

{% endblock %}