{% extends 'base.html.twig' %}
{% block body%}
{# Body #}
    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image:url({{asset('assets/now-ui-kit-v1.1.0/assets//img/bgg3.jpg')}});"></div>
            
            <div class="container">
                <div class="content-center brand">
                    <img class="n-logo" src="{{asset('assets/now-ui-kit-v1.1.0/assets/img/blog.png')}}" alt="" style="padding-top: 80px;">
                    <h1 class="h1 seo">BLOG</h1>
                    <h3>Create. Inspire. Share. Connect.</h3>
                    <div style="text-align:center;"><br><br><br>
                    <a href="/post/new" class="btn btn-primary btn-round btn-lg btn-block">WRITE A BLOG</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-team text-center">
            <div class="container">
                <h2 class="title">Team</h2><br>
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="{{asset('assets/now-ui-kit-v1.1.0/assets//img/team_quer.jpg')}}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" style="height: 150px; width: 150px;">
                                <h4 class="title">Quer Laconico</h4>
                                
                                
                                <p class="category text-primary">Programmer</p>
                            </div>
                        </div>                       
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="{{asset('assets/now-ui-kit-v1.1.0/assets//img/team_kyle.jpg')}}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" style="height: 150px; width: 150px;">
                                <h4 class="title">Kyle Avedana</h4>
                                <p class="category text-primary">Programmer</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="{{asset('assets/now-ui-kit-v1.1.0/assets//img/team_mae.jpg')}}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" style="height: 150px; width: 150px;">
                                <h4 class="title">Mae Sibal</h4>
                                <p class="category text-primary">Programmer</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="{{asset('assets/now-ui-kit-v1.1.0/assets//img/team_gra.jpg')}}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" style="height: 150px; width: 150px;">
                                <h4 class="title">Gra Ayun</h4>
                                <p class="category text-primary">Web Designer</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="{{asset('assets/now-ui-kit-v1.1.0/assets//img/team_era.jpg')}}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" style="height: 150px; width: 150px;">
                                <h4 class="title">Era Vergara</h4>
                                <p class="category text-primary">Web Designer</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="{{asset('assets/now-ui-kit-v1.1.0/assets//img/team_trags.jpg')}}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" style="height: 150px; width: 150px;">
                                <h4 class="title">Lei Tragura</h4>
                                <p class="category text-primary">Web Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  

{% endblock %}

