
{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url({{asset('assets/now-ui-kit-v1.1.0/assets/img/login.jpg')}})"> 
        </div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                        <div class="header header-primary text-center">
                            <div class="logo-container">
                                <img src="{{asset('assets/now-ui-kit-v1.1.0/assets/img/blog.png')}}" alt="">
                            </div>
                        </div>
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="content">
                            {# username #}
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                {# <label for="username">{{ 'security.login.username'|trans }}</label> #}
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Username" />
                            </div>
                            {# password #}
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                {# <label for="password">{{ 'security.login.password'|trans }}</label> #}
                                <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password" />
                            </div>
                        </div>
                        <div class="footer text-center">
                            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary btn-round btn-lg btn-block" />
                        </div>
                        </form>
                        <div class="pull-right">
                            <a href="{{ path("fos_user_registration_register") }}" class="link"><i class="fa fa-caret-right"></i> SIGN UP</a>
                        </div>
                    
                </div>
            </div>
        </div>
    {% include 'body/body_footer.html.twig' %}

