<!DOCTYPE html>
<html lang="en">
     <head>    
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />       
        
        <title>
            {% block title %}FoxHound{% endblock %}
        </title>
        
        {% block stylesheets %}
            <meta charset="utf-8" />
            <link rel="stylesheet" rel="apple-touch-icon" sizes="76x76" href="{{asset('assets/now-ui-kit-v1.1.0/assets/img/apple-icon.png')}}" />
            <link rel="stylesheet" rel="icon" type="image/png" href="{{asset('assets/now-ui-kit-v1.1.0/assets/img/favicon.png')}}" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
            <link rel="stylesheet" href="{{asset('assets/now-ui-kit-v1.1.0/assets/css/bootstrap.min.css')}}" />
            <link rel="stylesheet" href="{{asset('assets/now-ui-kit-v1.1.0/assets/css/now-ui-kit.css')}}" />
            <link rel="stylesheet" href="{{asset('assets/now-ui-kit-v1.1.0/assets/css/demo.css')}}" />
            <style>
                .txarea {
                    width: 100%;
                    font-size: 15px;
                    padding-left: 10px;
                    padding-top: 10px;
                    padding-right: 10px;
                    padding-bottom: 0px;
                    border-bottom-width: 2px;
                    border-style: solid;
                }
                .distxarea {
                    width: 100%;
                    font-size: 15px;
                    padding-left: 10px;
                    padding-top: 10px;
                    padding-right: 10px;
                    padding-bottom: 0px;
                    border-bottom-width: 2px;
                    border-style: solid;
                }
                .txbox {
                    width: 100%;
                    font-size: 15px;
                    padding-left: 10px;
                    padding-top: 10px;
                    padding-right: 10px;
                    padding-bottom: 13px;
                    border-bottom-width: 1px;
                    border-bottom-top: 2px;
                    border-style: solid;
                }
            </style>
        {% endblock %}  
    </head>

